body {
  margin: 0;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  max-height: 200px;
  max-width: 600px;
  min-width: 100px;
  background-color: #161718;
}

#logo {
  width: 5%;
  height: 5%;
  margin-left: 10px;
  display: inline-block;
  vertical-align: middle;
}

h1 {
  color: white;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  font-size: 30px;
}

h1 {
  color: white;
  display: inline-block; 
}

#header {
  display: flex;
  align-items: center;
}

#version {
  font-size: 15px;
}

#author {
  color: white;
  text-align: center;
  margin: 0;
  font-size: 15px;
  padding: 0;
}

#author:hover {
  cursor: pointer;
  font-weight: bold;
}

input {
  display: block;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 50%;
  border: none;
  border-radius: 3px;
  box-sizing: border-box;
  color: black;
  font-size: 15px;
}

input:focus {
  outline: none;
}

button {
  cursor: pointer;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  background-color: #3E3F40;
  color: white;
}

button:hover {
  background-color: #505051;
}

ul {
  margin-top: 20px;
  list-style-type: none;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #3E3F40;
  border-radius: 4px;
  text-align: center;
  list-style-type: none;
  padding-top: 2px;
  padding-bottom: 7px;
}

li {
  margin-top: 5px;
}

a:hover {
  background-color: #505051;
  border-radius: 5px;
  padding: 10px;
  font-size: 22px;
}

li a {
  text-decoration: none;
  color: white;
  cursor: pointer;
  font-size: 20px;
}

#remove-btn {
  cursor: pointer;
  background-color: #878788;
  border: none;
  color: white;
  font-size: 15px;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px 20px;
}

#remove-btn:hover {
  background-color: #333435;
}
